body
{
    background-image:url(password.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.passbox
{
    width: 75vh;
    height: 47vh;
    border-radius: 10px;
    box-shadow: inset;
    background-color: rgb(128, 96, 158);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 30vh;
}

.passbox h2
{
    padding: 5vh;
}

.password
{
    position: relative;
    padding: 12px;
    text-align: center;
}
#box1
{
    width: 60%;
    padding: 10px;
    border: 2px solid #002785;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    margin-top: -5vh;

}

.password2
{
    text-align: start;
    margin-left: 15vh;
}

.btn button
{
    width: 60%;
     padding: 5px; 
    border: 2px solid rgb(35, 35, 59);
    border-radius: 5px;
    text-align: center;
    font-size: medium;
    margin-top: 1vh;
    background-color: rgb(146, 146, 224);
}

.btn button:hover
{
    color: rgb(165, 73, 73) ;
}

